@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "RobotoMedium";
  font-style: normal;
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "RobotoBold";
  font-style: normal;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  color: rgba(0, 0, 0, 1);
}

h2 {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 45px;
  line-height: 45px;
  color: rgba(0, 0, 0, 1);
}

h3 {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
}

h4 {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

h6 {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.header {
  width: 100%;
  background-color: #eeeeee;
}

.header-nav {
  width: 1160px;
  margin: auto;
  padding-top: 75px;
  position: relative;
}

.header-logo {
  position: absolute;
  top: 20px;
  left: 50px;
}

.nav-list {
  width: 437px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.nav-list__item {
  display: block;
  margin-right: 45px;
}

.nav-list__item:nth-child(4) {
  margin-right: 0;
}

.nav-list__item:nth-child(5) {
  position: absolute;
  right: 50px;
  top: 50px;
  margin-right: 0;
}

.main {
  width: 100%;
  background-color: red;
}

.main-gallery {
  width: 100%;
  background-color: green;
}

.slide-first {
  width: 1157px;
  min-height: 437px;
  margin: 0 auto;
  background-color: blue;
}

.slide-first h1 {
  margin: 0;
}

.slide-second,
.slide-third {
  display: none;
}

.products {
  width: 1158px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.products__item {
  padding-top: 40px;
  padding-bottom: 80px;
}

.about {
  width: 1158px;
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 73px;
  display: flex;
  background-color: blueviolet;
}

.about__left-column {
  min-width: 666px;
  margin-right: 145px;
}

.about__right-column {
  min-width: 330px;
}

.portfolio {
  padding-top: 66px;
  padding-bottom: 66px;
  width: 1158px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: coral;
}

.information {
  padding-top: 80px;
  position: relative;
}

.information__text {
  position: absolute;
  width: 319px;
  height: 308px;
  left: 75px;
  top: 125px;
  background-color: white;
}

.popup-form {
  width: 960px;
  height: 590px;
  position: absolute;
  top: -150px;
  left: 200px;
  background-color: cyan;
}

.footer {
  width: 100%;
  background-color: deeppink;
  display: flex;
}

.social-list {
  display: flex;
  padding-right: 100px;
  background-color: blue;
}

.social-list__item {
  width: 81px;
  height: 81px;
  margin-right: 10px;
}
